.feedback-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 35px 20px 10px;

  @media #{$tablet} {
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    padding: 65px 60px 35px;
  }

  @media #{$desktop} {
    column-gap: 160px;
    padding: 105px 120px 35px;
  }

  //.feedback-form__title
  &__title {
    justify-self: center;
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 30px;

    text-align: center;

    @media #{$tablet} {
      max-width: 475px;
    }
  }

  //.feedback-form__text
  &__text {
    justify-self: center;
    grid-column: 1 / -1;
    margin-bottom: 20px;
    text-align: center;

    text-transform: uppercase;

    @media #{$tablet} {
      max-width: 475px;
      margin-bottom: 50px;
    }
  }

  //.feedback-form__fieldset
  &__fieldset {
    position: relative;
    display: grid;

    padding: 25px 0;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 50%;

      display: block;
      width: 100vw;
      height: 1px;

      background: $color-light-3;

      transform: translate(-50%, 0);
    }

    @media #{$tablet} {
      &::before {
        display: none;
      }
    }

    //.feedback-form__fieldset--wide
    &--wide {
      grid-column: 1 / -1;
    }
  }

  //.feedback-form__fullname
  &__fullname {
    align-items: center;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    row-gap: 20px;

    @media #{$tablet} {
      grid-column: 2;
    }
  }

  //.feedback-form__legend
  &__legend {
    grid-column: 1 / -1;

    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    text-align: center;
    text-transform: uppercase;
    color: $font-color-title;

    @media #{$tablet} {
      justify-self: start;
      margin-bottom: 20px;

      font-size: $font-size-big-tab;
      text-align: left;
    }

    //.feedback-form__legend--line
    &--line {
      @media #{$tablet} {
        position: relative;

        display: flex;
        justify-content: center;
        justify-self: stretch;
        grid-column: 1 / -1;

        text-align: center;

        &::before,
        &::after {
          content: '';

          position: relative;
          top: 50%;

          display: block;
          flex-grow: 1;
          height: 1px;

          background: $color-light-3;
        }

        &::before {
          margin-right: 60px;
        }

        &::after {
          margin-left: 60px;
        }
      }
    }
  }

  //.feedback-form__label
  &__label {
    text-transform: uppercase;

    cursor: pointer;

    //.feedback-form__label--input
    &--input {
    }

    //.feedback-form__label--radio
    &--radio {
      position: relative;

      display: flex;
      align-items: center;

      font-weight: $font-weight-bold;
      font-size: $font-size-big;
      text-transform: none;
      color: $font-color-title;

      outline: none;

      &::before {
        content: '';

        display: block;
        width: 56px;
        height: 56px;
        margin-right: 20px;

        background: $color-light-2;
        border: none;
        border-radius: 50%;

        transition: background-color 0.3s ease 0s;
      }

      &::after {
        content: '';

        position: absolute;
        top: 50%;
        left: 28px;

        display: block;
        width: 24px;
        height: 24px;

        background-color: $color-dark-2;
        border-radius: 50%;
        opacity: 0;

        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease 0s;
      }

      &:hover,
      &:focus {
        &::before {
          background: darken($color-light-3, 15%);
        }
      }
    }

    //.feedback-form__label--checkbox
    &--checkbox {
      position: relative;

      display: flex;
      align-items: center;

      font-weight: $font-weight-bold;
      font-size: $font-size-big;
      text-transform: none;
      color: $font-color-title;

      outline: none;

      transition: all 0.3s ease 0s;

      &::before {
        content: '';

        display: block;
        width: 56px;
        height: 56px;
        margin-right: 20px;

        background: $color-light-2;
        border: none;
        border-radius: 4px;

        transition: all 0.3s ease 0s;
      }

      &::after {
        content: '';

        position: absolute;
        top: 50%;
        left: 28px;

        display: block;
        width: 23px;
        height: 16px;

        background: no-repeat center/contain
          url(../../img/backgrounds/check.svg);
        opacity: 0;

        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease 0s;
      }

      &:hover,
      &:focus {
        &::before {
          background: darken($color-light-3, 15%);
        }
      }
    }

    //.feedback-form__label--mobile
    &--mobile {
      @media #{$desktop} {
        display: none;
      }
    }
  }

  //.feedback-form__input
  &__input {
    width: 100%;
    padding: 15px 20px;

    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    color: $font-color-title;

    background: $color-light-3;
    border: none;

    transition: all 0.3s ease 0s;

    &:hover,
    &:focus {
      background: darken($color-light-3, 15%);
    }

    //.feedback-form__input--icon
    &--icon {
      padding-right: 77px;
    }
  }

  //.feedback-form__contacts
  &__contacts {
    row-gap: 20px;

    @media #{$desktop} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 160px;
    }
  }

  //.feedback-form__wrapper-contacts
  &__wrapper-contacts {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @media #{$desktop} {
      flex-direction: row;
      align-items: center;
    }
  }

  //.feedback-form__icon
  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;

    fill: $color-dark-1;
    background: darken($color-light-3, 15%);
  }

  //.feedback-form__impression
  &__impression {
    row-gap: 20px;
  }

  //.feedback-form__radio
  &__radio {
    &:checked + .feedback-form__label--radio {
      &::after {
        opacity: 1;
      }
    }
  }

  //.feedback-form__showplace
  &__showplace {
    row-gap: 20px;

    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 110px;
    }

    @media #{$desktop} {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 50px;
    }
  }

  //.feedback-form__checkbox
  &__checkbox {
    &:checked + .feedback-form__label--checkbox {
      &::after {
        opacity: 1;
      }
    }
  }

  //.feedback-form__emotion
  &__emotion {
    row-gap: 20px;

    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  //.feedback-form__textarea
  &__textarea {
    grid-column: 1 / -1;
    height: 160px;
    padding: 15px 20px;

    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    color: $font-color-title;

    background: $color-light-3;
    border: none;
    outline: none;

    transition: all 0.3s ease 0s;

    resize: none;

    &:hover,
    &:focus {
      background: darken($color-light-3, 15%);
    }

    @media #{$tablet} {
      margin-bottom: 20px;
    }
  }

  //.feedback-form__btn
  &__btn {
  }

  //.feedback-form__mark
  &__mark {
    display: none;

    @media #{$tablet} {
      display: block;
      align-self: center;
      justify-self: end;
    }
  }
}
