.feedback-form {
  padding: 35px 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  @media #{$tablet} {
    padding: 65px 60px 35px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    grid-auto-flow: dense;
  }
  @media #{$desktop} {
    padding: 105px 120px 35px;
    column-gap: 160px;
  }
  // .feedback-form__title
  &__title {
    margin: 0;
    margin-bottom: 30px;
    grid-column: 1 / -1;
    justify-self: center;

    text-align: center;
    @media #{$tablet} {
      max-width: 475px;
    }
  }
  // .feedback-form__text
  &__text {
    margin-bottom: 20px;
    grid-column: 1 / -1;
    justify-self: center;

    text-transform: uppercase;
    text-align: center;
    @media #{$tablet} {
      max-width: 475px;
      margin-bottom: 50px;
    }
  }
  // .feedback-form__fieldset
  &__fieldset {
    position: relative;

    padding: 25px 0;
    display: grid;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 50%;

      display: block;
      height: 1px;
      width: 100vw;

      background: $color-light-3;

      transform: translate(-50%, 0);
    }

    @media #{$tablet} {
      &::before {
        display: none;
      }
    }
    // .feedback-form__fieldset--wide
    &--wide {
      grid-column: 1 / -1;
    }
  }
  // .feedback-form__fullname
  &__fullname {
    grid-template-columns: min-content 1fr;
    row-gap: 20px;
    column-gap: 15px;
    align-items: center;
    @media #{$tablet} {
      grid-column: 2;
    }
  }
  // .feedback-form__legend
  &__legend {
    grid-column: 1 / -1;

    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    color: $font-color-title;
    text-transform: uppercase;
    text-align: center;
    @media #{$tablet} {
      justify-self: start;
      margin-bottom: 20px;

      font-size: $font-size-big-tab;
      text-align: left;
    }
    // .feedback-form__legend--line
    &--line {
      @media #{$tablet} {
        position: relative;

        grid-column: 1 / -1;
        justify-self: stretch;

        display: flex;
        justify-content: center;

        text-align: center;
        &::before,
        &::after {
          content: '';

          position: relative;
          top: 50%;

          display: block;
          height: 1px;

          flex-grow: 1;

          background: $color-light-3;
        }
        &::before {
          margin-right: 60px;
        }
        &::after {
          margin-left: 60px;
        }
      }
    }
  }
  // .feedback-form__label
  &__label {
    text-transform: uppercase;

    cursor: pointer;
    // .feedback-form__label--input
    &--input {
    }
    // .feedback-form__label--radio
    &--radio {
      position: relative;

      display: flex;
      align-items: center;

      color: $font-color-title;
      font-weight: $font-weight-bold;
      text-transform: none;
      font-size: $font-size-big;

      outline: none;

      &:hover,
      &:focus {
        &::before {
          background: darken($color-light-3, 15%);
        }
      }
      &::before {
        content: '';

        position: relative;
        left: 0;
        top: 50%;

        display: block;
        width: 56px;
        height: 56px;
        margin-right: 20px;

        border-radius: 50%;
        border: none;
        background: $color-light-2;

        transform: translate(0, -50%);
        transition: background-color 0.3s ease 0s;
      }
      &::after {
        content: '';

        position: absolute;
        left: 28px;
        top: 50%;

        display: block;
        width: 24px;
        height: 24px;

        border-radius: 50%;
        background-color: $color-dark-2;
        opacity: 0;

        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease 0s;
      }
    }
    // .feedback-form__label--checkbox
    &--checkbox {
      position: relative;

      display: flex;
      align-items: center;

      color: $font-color-title;
      font-weight: $font-weight-bold;
      text-transform: none;
      font-size: $font-size-big;

      transition: all 0.3s ease 0s;

      outline: none;

      &:hover,
      &:focus {
        &::before {
          background: darken($color-light-3, 15%);
        }
      }
      &::before {
        content: '';

        position: relative;
        left: 0;
        top: 50%;

        display: block;
        width: 56px;
        height: 56px;
        margin-right: 20px;

        border-radius: 4px;
        border: none;
        background: $color-light-2;

        transform: translate(0, -50%);
        transition: all 0.3s ease 0s;
      }
      &::after {
        content: '';

        position: absolute;
        left: 28px;
        top: 50%;

        display: block;
        width: 23px;
        height: 16px;

        opacity: 0;
        background: no-repeat center/contain
          url(../../img/backgrounds/check.svg);

        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease 0s;
      }
    }
    // .feedback-form__label--mobile
    &--mobile {
      @media #{$desktop} {
        display: none;
      }
    }
  }
  // .feedback-form__input
  &__input {
    padding: 15px 20px;
    width: 100%;

    color: $font-color-title;
    font-weight: $font-weight-bold;
    font-size: $font-size-big;

    border: none;
    background: $color-light-3;
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
      background: darken($color-light-3, 15%);
    }
    // .feedback-form__input--icon
    &--icon {
      padding-right: 77px;
    }
  }
  // .feedback-form__contacts
  &__contacts {
    row-gap: 20px;
    @media #{$desktop} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 160px;
    }
  }
  // .feedback-form__wrapper-contacts
  &__wrapper-contacts {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @media #{$desktop} {
      flex-direction: row;
      align-items: center;
    }
  }
  // .feedback-form__icon
  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;

    fill: $color-dark-1;
    background: darken($color-light-3, 15%);
  }
  // .feedback-form__impression
  &__impression {
    row-gap: 20px;
  }
  // .feedback-form__radio
  &__radio {
    &:checked + .feedback-form__label--radio {
      &::after {
        opacity: 1;
      }
    }
  }
  // .feedback-form__showplace
  &__showplace {
    row-gap: 20px;
    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 110px;
    }
    @media #{$desktop} {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 50px;
    }
  }
  // .feedback-form__checkbox
  &__checkbox {
    &:checked + .feedback-form__label--checkbox {
      &::after {
        opacity: 1;
      }
    }
  }
  // .feedback-form__emotion
  &__emotion {
    row-gap: 20px;
    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .feedback-form__textarea
  &__textarea {
    padding: 15px 20px;
    height: 160px;
    grid-column: 1 / -1;

    color: $font-color-title;
    font-weight: $font-weight-bold;
    font-size: $font-size-big;

    background: $color-light-3;
    border: none;

    resize: none;
    outline: none;

    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
      background: darken($color-light-3, 15%);
    }
    @media #{$tablet} {
      margin-bottom: 20px;
    }
  }
  // .feedback-form__btn
  &__btn {
  }
  // .feedback-form__mark
  &__mark {
    display: none;
    @media #{$tablet} {
      display: block;
      align-self: center;
      justify-self: end;
    }
  }
}
