.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 140px;
  padding: 35px 0;

  @media #{$tablet} {
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media #{$desktop} {
    padding: 0 120px;
  }

  //.footer__moto
  &__moto {
    font-weight: $font-weight-bold;
    font-size: $font-size-title;
    text-transform: uppercase;
    color: $font-color-title;

    @media #{$tablet} {
      flex-basis: 200px;
    }
  }

  //.footer__social-list
  &__social-list {
    flex-basis: 100%;
    margin: 30px 0;

    @media #{$tablet} {
      flex-basis: 200px;
      margin: 40px 0;

      border-bottom: none;
    }
  }

  //.footer__copyright-link
  &__copyright-link {
    margin: 0;

    @media #{$tablet} {
      flex-basis: 200px;
    }
  }
}
