.header {
  // $header-height: 70px;

  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  height: $header-height;

  background-color: $bg-color-base;

  z-index: 5;

  @media #{$tablet} {
    height: auto;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: $header-height;

    background-color: $bg-color-base;

    z-index: 5;
    @media #{$tablet} {
      display: none;
    }
  }

  &__logo {
    z-index: 10;

    @media #{$tablet} {
      display: none;
    }
  }

  &__mmt {
    position: fixed;
    top: 15px;
    right: 15px;

    z-index: 10;
    @media #{$tablet} {
      display: none;
    }
  }
}
