.navigation {
  $header-height: 70px;
  $mob-mozilla: 45px; //mobile mozilla bug with bottom navbar

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: $color-accent-1;
  color: $font-color-light;
  z-index: 4;
  transform: translateY(-100%);

  @media #{$tablet} {
    position: static;

    display: flex;
    flex-wrap: wrap;

    color: $font-color-base;

    background-color: initial;
    transform: translateY(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    max-height: calc(100vh - #{$header-height} - #{$mob-mozilla});
    overflow-y: auto;

    @media #{$tablet} {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      overflow-y: initial;
    }
  }

  &__item {
    width: 100%;

    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }

    @media #{$tablet} {
      flex-grow: 1;

      flex-basis: 140px;

      border: none;
    }
    @media #{$desktop} {
      flex-basis: 240px;
    }

    &--logo {
      display: none;
      @media #{$tablet} {
        position: relative;

        display: block;
        height: 100%;
      }
    }
  }

  &__link {
    display: block;
    padding: 1em;

    text-align: center;
    font-size: $font-size-big;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    transition: all 0.3s ease 0s;

    &[href]:hover,
    &[href]:focus {
      background-color: darken($color-accent-1, 15%);
    }
    &[href]:active {
      color: rgba($color-light-1, 0.3);
      background-color: darken($color-accent-1, 25%);
    }

    @media #{$tablet} {
      &:not([href]) {
        color: #766357;
      }
      &[href]:hover,
      &[href]:focus {
        color: $color-accent-1;
        background-color: initial;
      }
      &[href]:active {
        color: rgba($font-color-base, 0.3);
        background-color: initial;
      }
    }

    &--logo {
      padding: 0;

      line-height: 1;
      font-size: 0;
    }
  }

  &.active {
    transform: translateY(100%);

    @media #{$tablet} {
      transform: translateY(0);
    }
  }
}
