.photo-post {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 20px;

  border-top: 1px solid $color-light-3;

  &:last-child {
    border-bottom: 1px solid $color-light-3;
  }

  @media #{$tablet} {
    padding: 0;

    border: none;
  }

  //.photo-post__photo
  &__photo {
    width: 100%;
    height: 280px;

    @media #{$desktop} {
      height: 100%;
    }
  }

  //.photo-post__img
  &__img {
    width: 100%;
    height: 100%;
  }

  //.photo-post__text
  &__text {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 0 0;

    @media #{$tablet} {
      grid-auto-flow: dense;
      grid-template-columns: 1fr 1fr;
      padding: 15px 20px;

      background: $bg-color-dark;
    }

    @media #{$desktop} {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;

      background-color: rgba($color-dark-1, 0.4);
    }
  }

  //.photo-post__title
  &__title {
    margin-bottom: 5px;

    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    text-transform: uppercase;
    color: $font-color-title;

    @media #{$desktop} {
      color: $font-color-light;
    }
  }

  //.photo-post__link
  &__link {
    text-decoration: none;

    transition: opacity 0.3s ease 0s;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  //.photo-post__author
  &__author {
    margin-bottom: 10px;

    @media #{$tablet} {
      margin-bottom: 0;
    }

    @media #{$desktop} {
      color: $font-color-light;
    }
  }

  //.photo-post__like
  &__like {
    position: relative;

    display: flex;

    align-items: center;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: $font-color-title;

    @media #{$tablet} {
      align-self: center;
      justify-self: end;
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }

    @media #{$desktop} {
      color: $font-color-light;
    }
  }

  //.photo-post__like-icon
  &__like-icon {
    margin-right: 6px;

    fill: currentColor;

    transform: translate(0, -10%);
  }
}
