html {
  font-family: $font-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  color: $font-color-base;

  background-color: $bg-color-base;
}

.page-wrapper {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;

  box-shadow: 0 0 15px 5px rgba(#000, 0.2);
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-right: $container-padding;
  padding-left: $container-padding;
}

.title {
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  text-transform: uppercase;
  color: $font-color-title;

  @media #{$tablet} {
    font-size: $font-size-title-tab;
  }
}

.non-scrollable {
  overflow-y: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip-path: inset(100%);
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}
