$color-light-1: #fff;
$color-dark-1: #000;
$color-accent-1: #230597;

$font-color-base: $color-dark-1;
$font-color-light: $color-light-1;
$font-color-title: $color-dark-1;
$font-color-link: $color-dark-1;
$font-color-link--hover: rgba($color-dark-1, 0.6);
$font-color-link--active: rgba($color-dark-1, 0.3);
$font-color-btn: $color-dark-1;
$font-color-btn--hover: $color-light-1;
$font-color-btn--active: rgba($color-light-1, 0.3);

$bg-color-base: $color-light-1;
$bg-color-dark: $color-dark-1;
$bg-color-btn: $color-light-1;
$bg-color-btn--hover: $color-dark-1;
$bg-color-btn--active: $color-dark-1;

$icon-color: $color-accent-1;
$icon-color--hover: rgba($color-accent-1, 0.6);
$icon-color--active: rgba($color-accent-1, 0.3);

$border-color: $color-dark-1;

$font-base: 'Open Sans', sans-serif;
$font-accent: 'Roboto', sans-serif;

$font-size-base: 16px;
$font-size-small: 0.8rem;
$font-size-big: 1.2rem;
$font-size-title: 2rem;

$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

$container-width: 1200px;
$container-padding: 30px;

//breakpoint
$bp-mob: 320px;
$bp-mob-large: 480px;
$bp-tab: 768px;
$bp-lap: 800px;
$bp-des: 1250px;

//mobile-first media query
$mobile: (
  min-width: $bp-mob,
);
$mobile-l: (
  min-width: $bp-mob-large,
);
$tablet: (
  min-width: $bp-tab,
);
$laptop: (
  min-width: $bp-lap,
);
$desktop: (
  min-width: $bp-des,
);

//desktop-first media query
$d-mobile: (
  max-width: $bp-mob-large,
);
$d-mobile-l: (
  max-width: $bp-tab,
);
$d-tablet: (
  max-width: $bp-lap,
);
$d-laptop: (
  max-width: $bp-des,
);

// $gradient-base: ;
// $gradient-alt: ;
