//color
$color-light-1: #fff;
$color-light-2: #f2f2f2;
$color-light-3: #eee;
$color-dark-1: #000;
$color-dark-2: #333;
$color-accent-1: #81b3d2;

//font-color
$font-color-base: $color-dark-2;
$font-color-light: $color-light-1;
$font-color-title: $color-dark-1;
$font-color-btn: $color-light-1;
$font-color-btn--hover: $color-light-1;
$font-color-btn--active: rgba($color-light-1, 0.3);

//background
$bg-color-base: $color-light-1;
$bg-color-dark: $color-light-3;
$bg-color-btn: $color-accent-1;
$bg-color-btn--hover: darken($color-accent-1, 15%);
$bg-color-btn--active: darken($color-accent-1, 25%);

//icon
$icon-color: $color-light-1;
$icon-color--hover: $color-light-1;
$icon-color--active: rgba($color-light-1, 0.3);

//border
$border-color: $color-dark-2;

//font-family
$font-base: 'PT Sans', sans-serif;
$font-accent: 'Roboto', sans-serif;

//font-size
$font-size-base: 14px;
$font-size-small: 0.8rem;
$font-size-big: 18px;
$font-size-big-tab: 21px;
$font-size-btn: 21px;
$font-size-title: 21px;
$font-size-title-tab: 30px;

//font-weight
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

//container
$container-width: 1200px;
$container-padding: 20px;
$header-height: 70px;

//breakpoint
$bp-mob: 320px;
$bp-mob-large: 480px;
$bp-tab: 768px;
$bp-lap: 800px;
$bp-des: 1280px;

//mobile-first media query
$mobile: (
  min-width: $bp-mob,
);
$mobile-l: (
  min-width: $bp-mob-large,
);
$tablet: (
  min-width: $bp-tab,
);
$laptop: (
  min-width: $bp-lap,
);
$desktop: (
  min-width: $bp-des,
);

//desktop-first media query
$d-mobile: (
  max-width: $bp-mob-large,
);
$d-mobile-l: (
  max-width: $bp-tab,
);
$d-tablet: (
  max-width: $bp-lap,
);
$d-laptop: (
  max-width: $bp-des,
);

//$gradient-base: ;
//$gradient-alt: ;
